@charset "UTF-8";

/*Se añaden las fuentes externas*/
@font-face {
    /*font-family da el nombre para "llamar" la fuente, y src define el origen*/
	font-family: 'LatinText'; src: url(../Fonts/lmromandunh10-regular.otf);
}

@font-face {
    /*font-family da el nombre para "llamar" la fuente, y src define el origen*/
	font-family: 'LatinTitle'; src: url(../Fonts/EMPORO.ttf);
    format('truetype');
}


/*Propiedades de estilo básicas del documento html*/
html{
    background-image: url(../Images/dark_wood_wallpaper.jpg); /*Imágen de fondo*/
    background-size: cover; /*La imágen de fondo cubre toda la página*/
    background-repeat: no-repeat; /*La imágen de fondo no se repite*/
    background-attachment: fixed; /*La imagen de fondo está fijada (no se mueve con el scroll)*/
    width: 100%; /*Se ocupa toda la página (horizontalmente)*/
    height: 100%; /*Se ocupa toda la página*/
}

body{
    margin: 0; /*El márgen es 0 (nada) para que la barra de navegación ocupe toda la página*/
}

p{
    margin-left: 8%; /*8% de margen a izquierda y derecha*/
    margin-right: 8%;
    margin-top: 25px;/*25 pixeles de margen arriba y abajo*/
    margin-bottom: 25px;
    font-family: 'LatinText'; /*Fuente a usar (de las declaradas al principio)*/
    text-align: justify ; /*Se justifica el texto*/
    font-size: 20px;
    /*text-shadow: 1px 1px #DDDDDD;*/
    color: #DDDDDD;
}

/*Propiedades básicas de estilo para la etiqueta de texto H1*/
h1{
	font-size: 50px;/*Tamaño de la fuente*/
    color: #DDDDDD; /*Color de fuente*/
	text-align: center; /*Alineación del texto*/
    font-family: 'LatinText'; /*Fuente a usar*/
}

/*Propiedades básicas de estilo para la imágen principal*/
.principalLogo{
    text-align: center;/*Alineada al centro*/
    margin: auto;/*Margen automática */
    width: 60%;/*Ocupa 60% del total de espacio de la página (horizontalmente)*/
    content: url("../Images/icon_light.png"); /*Por defecto el ícono es el claro*/
}

/*Propiedades del logo cuando el cursor está encima*/
.principalLogo:hover{
    cursor: pointer; /*Se cambia el cursor por la mano de selección*/
}

.cornerLogo{
    text-align: left;/*Alineada a la izquierda*/
    margin-left: 5%;/*Margen automática */
    width: 30%;/*Ocupa 30% del total de espacio de la página (horizontalmente)*/
    content: url("../Images/icon_light.png"); /*Por defecto el ícono es el claro*/
}

/*Propiedades del logo cuando el cursor está encima*/
.cornerLogo:hover{
    cursor: pointer; /*Se cambia el cursor por la mano de selección*/
}

/*Propiedades básicas de estilo para la imágen principal*/
.principalImage{
    text-align: center;/*Alineada al centro*/
    margin: auto;/*Margen automática */
    width: 60%;/*Ocupa 60% del total de espacio de la página (horizontalmente)*/
}

/*@media para cuando el navegador tiene un tamaño (horizontal) menor a 925 pixeles, punto en el cual titulos de la barra de navegación dejan de funcionar completamente*/
@media (max-width: 720px){
    html{
        background-image: url(../Images/light_wood_wallpaper.jpg); /*Imágen de fondo*/
    }

    p{
        color: #333333;
    }

    h1{
        color: #a12d2d;
    }

    .principalLogo{
        content: url("../Images/icon_dark.png"); /*Cambia el ícono al oscuro*/
    }

    .cornerLogo{
        content: url("../Images/icon_dark.png"); /*Cambia el ícono al oscuro*/
        text-align: center; /*Alineada al centro*/
        margin: auto;
    }
}
